<h2>Carted Product ID: <%= @carted_products['id'] %></h2>
<h2>Product ID: <%= @carted_products['product']['id'] %></h2>
<h2>Product Names: <%= @carted_products['product']['name'] %></h2>
<h2>Quantity: <%= @carted_products['quantity'] %></h2>